.thumbnail img{
    width:100%;
    
}
.thumbnail{
    padding:0;
}

.thumbnail .caption-full{
    padding:9px;
}
.deleteForm{
    display: inline;
}
.designed_form{
    width:30%;
    margin: 25px auto;
}
#facebookIcon{
    width:30px;
    height: 30px;
}

